// Font Weights - these need clarifying
$extra-light: 200;
$light: 300;
$normal: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;

// Fonts
$title-font-family: Arial, Helvetica, sans-serif; // 'Barlow Semi Condensed', sans-serif;
$body-font-family: Arial, Helvetica, sans-serif;

// Font size
$title-h1-size: 32px;
$title-h2-size: 26px;
$title-h3-size: 20px;

// Standard spacing
$gutter: 20px;

/** Breakpoints */
$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;
$wide: 1280px;

@mixin devices ($breakpoint) { //the name of the mixin is devices

  @if $breakpoint == mobile {
    @media only screen and (max-width: $mobile) {
      @content;
    }
  }

  @if $breakpoint == fromTablet {
    @media only screen and (min-width: $tablet) {
      @content;
    }
  }

  @if $breakpoint == untilDesktop {    
    @media only screen and (max-width: $tablet) {
      @content;
    }
  }

  @if $breakpoint == fromDesktop {
    @media only screen and (min-width: $desktop) {
      @content;
    }
  }
}
