@import 'src/variables.scss';

.geo-json-polygon,
.geo-json-polygon-a,
.geo-json-polygon-b1,
.geo-json-polygon-b2,
.geo-json-polygon-b3,
.geo-json-polygon-c {
  fill: #d4e6ec99;
  stroke-width: 2;
  stroke: black;
  r: 20;
  opacity: $polygon-opacity;
}

.geo-json-polygon-a {
  fill: $color-classification-a;
}

.geo-json-polygon-b3 {
  fill: $color-classification-b3;
}

.geo-json-polygon-b2 {
  fill: $color-classification-b2;
}

.geo-json-polygon-b1 {
  fill: $color-classification-b1;
}

.geo-json-polygon-c {
  fill: $color-classification-c;
}
