@import 'src/variables.scss';

.swm__info {
  background-color: $color-cambridge-blue;
  color: $color-green-black;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: $gutter;
  width: 30%;

  @include devices('untilDesktop'){ // mobile + tablet styling
    width: 100%;
    height: 600px;
  }
};
